# MONGODB CONNECTION
MONGODB_URI="mongodb+srv://username:password@cluster.mongodb.net"
MONGODB_DB_NAME="football_id_store"

# AUTHENTICATION
BETTER_AUTH_SECRET="your-super-secret-auth-key-32-chars-min"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# CLOUDINARY IMAGE STORAGE
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# PORT
PORT=3000

